.sectionIndicatorContainer {
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    /* background-color: white; */
    animation: slowShow 1.2s ease-in;
    margin-left: 3.6vw;
}

/* @keyframes appearFromLeft {
    0% {
        transform: translateX(-260px);
    }
    100% {
        transform: translateX(0px);
    }
}
*/
@keyframes slowShow {
    0% {
        opacity: 0%;
    }
    60% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.indicatorContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 14px 0 14px 0;
    width: 20px;
    /* background-color: yellow; */
    overflow: hidden;
    transition: 0.2s;
}
.indicatorContainer .icon {
    /* position: absolute; */
    color: rgb(29, 161, 242);
    font-size: 0.75rem;
}

.leftLine {
    bottom: 0;
    left: 3.2vw;
    width: 1px;
    height: 32vh;
    background-color: rgb(29, 161, 242);
}
.leftLine2 {
    bottom: 0;
    left: 3.2vw;
    width: 1px;
    height: 32vh;
}
