.aimation_delay02 {
    animation-delay: 0.2s;
}
.aimation_delay05 {
    animation-delay: 0.5s;
}
.aimation_delay08 {
    animation-delay: 0.8s;
}
.aimation_delay10 {
    animation-delay: 1s;
}
.aimation_delay12 {
    animation-delay: 1.2s;
}
.aimation_delay15 {
    animation-delay: 1.5s;
}
.animation_slideUp100s1 {
    animation: slideUp100 1s ease-out;
}
.animation_slideUp100s14 {
    animation: slideUp100 1.4s ease-out;
}
.animation_slideUp100s18 {
    animation: slideUp100 1.8s ease-out;
}
@keyframes slideUp100 {
    0% {
        transform: translateY(100px);
        opacity: 0%;
    }

    30% {
        transform: translateY(100px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}
.animation_slideLeft100s15 {
    animation: slideLeft100d1 1.5s ease-out;
}
.animation_slideLeft100s17 {
    animation: slideLeft100d1 1.7s ease-out;
}
.animation_slideLeft100s20 {
    animation: slideLeft100d1 2s ease-out;
}
@keyframes slideLeft100d1 {
    0% {
        transform: translateX(100px);
        opacity: 0%;
    }

    50% {
        transform: translateX(100px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}
.animation_popUps2 {
    animation: popUp 2s ease-out;
}
@keyframes popUp {
    0% {
        opacity: 0%;
    }

    90% {
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}
