.footerContainer {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;

    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;

    width: 100%;
    position: relative;
    flex-direction: column;
}
