/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Source+Sans+3:wght@400;600;700;900&display=swap'); */
/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif; */

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.light {
    /* background: rgb(227,234,238); */
    background: #f6f9f9;
    color: #272727;
}

.dark {
    /* background: rgb(227,234,238); */
    background-color: rgb(3, 31, 44);
    /* background: #13191d; */
    color: #bacdd1;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 10px;
    transition: 0.5s;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
    transition: 0.5s;
}

/* @media only screen and (max-width: 720px) {
  
}  */
