@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Source+Sans+3:wght@400;600;700;900&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif; */

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.light {
    /* background: rgb(227,234,238); */
    background: #f6f9f9;
    /* change to pink blue gradient */
    /* background: rgb(255, 245, 247);
    background: linear-gradient(
        235deg,
        rgba(255, 245, 247, 1) 0%,
        #f6f9f9 100%
    ); */
    color: #272727e7;
}

.dark {
    /* background: rgb(227,234,238); */
    background-color: rgb(3, 31, 44);
    /* background: #13191d; */
    color: #bacdd1;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    padding: 0.5rem 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 10px;
    transition: 0.5s;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
    transition: 0.5s;
}

/* @media only screen and (max-width: 720px) {
  
}  */
.aimation_delay02 {
    animation-delay: 0.2s;
}
.aimation_delay05 {
    animation-delay: 0.5s;
}
.aimation_delay08 {
    animation-delay: 0.8s;
}
.aimation_delay10 {
    animation-delay: 1s;
}
.aimation_delay12 {
    animation-delay: 1.2s;
}
.aimation_delay15 {
    animation-delay: 1.5s;
}
.animation_slideUp100s1 {
    animation: slideUp100 1s ease-out;
}
.animation_slideUp100s14 {
    animation: slideUp100 1.4s ease-out;
}
.animation_slideUp100s18 {
    animation: slideUp100 1.8s ease-out;
}
@keyframes slideUp100 {
    0% {
        transform: translateY(100px);
        opacity: 0%;
    }

    30% {
        transform: translateY(100px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}
.animation_slideLeft100s15 {
    animation: slideLeft100d1 1.5s ease-out;
}
.animation_slideLeft100s17 {
    animation: slideLeft100d1 1.7s ease-out;
}
.animation_slideLeft100s20 {
    animation: slideLeft100d1 2s ease-out;
}
@keyframes slideLeft100d1 {
    0% {
        transform: translateX(100px);
        opacity: 0%;
    }

    50% {
        transform: translateX(100px);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}
.animation_popUps2 {
    animation: popUp 2s ease-out;
}
@keyframes popUp {
    0% {
        opacity: 0%;
    }

    90% {
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}
