.introContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 24vh;
}

.introGroup1 {
  /* background-color: yellow; */
  display: flex;
  flex-flow: row;
}

.introGroup1_img {
  /* background-color: orange; */
  height: 340px;
  width: 300px;
  margin-right: 80px;
  position: relative;
  overflow: hidden;
  transform: scale(0.92);
}
.introGroup1_me {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 2;
  height: 340px;
}
.introGroup1_blue {
  position: absolute;
  top: 35px;
  left: 16px;
  z-index: 1;
  height: 304px;
}
.introGroup1_gray {
  filter: opacity(0.7);
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 0;
  height: 304px;
}

.introGroup1_msg {
  /* background-color: orange; */
  height: 340px;
  width: 600px;
}

.introGroup1_msg1 {
  font-family: 'Poppins';
  font-size: 3.4rem;
  color: #272727;
  line-height: 3.8rem;
  margin-top: 1.5rem;
}

.introGroup1_msg2 {
  font-family: 'Poppins';
  font-size: 3.4rem;
  color: #20bde8;
  line-height: 3.8rem;
}
.introGroup1_msg2 i {
  color: #fd5565;
  font-style: normal;
}

.introGroup1_msg3 {
  font-family: 'Source Sans Pro Semibold';
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 2.4rem;
  color: #272727;
}
.introGroup1_msg3 b {
  color: #20bde8;
  font-family: 'Source Sans Pro Black';
}
.introGroup1_msg3 i {
  color: #fd5565;
  font-style: normal;
}

.introGroup1_social {
  color: #272727;
  margin-top: 2.6rem;
  display: flex;
  flex-flow: row;
}
.introGroup1_social i {
  font-size: 1.5rem;
}
.introGroup1_social a {
  margin-right: 42px;
  transition: 0.2s;
}
.socialGT:hover {
  color: black !important;
  transform: scale(1.15);
  transition: 0.2s;
}
.socialFB:hover {
  color: #1877f2 !important;
  transform: scale(1.15);
  transition: 0.2s;
}
.socialTW:hover {
  color: #1da1f2 !important;
  transform: scale(1.15);
  transition: 0.2s;
}
.socialML:hover {
  color: black !important;
  transform: scale(1.15);
  transition: 0.2s;
}


@media only screen and (max-width: 720px) {
  .introContainer {
    top: 4%;
  }
  .introGroup1 {
    align-items: center;
    flex-flow: column;
  }
  .introGroup1_img {
    margin: 0;
    transform: scale(0.85);
    position: relative;
    overflow: hidden;
  }
  .introGroup1_msg {
    height: fit-content;
    padding: 0 10% 0 10%;
    width: 100%;
  }
  .introGroup1_msg1 {
    font-size: 2.6rem;
    line-height: 3rem;
    margin-top: 0;
  }
  .introGroup1_msg2 {
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .introGroup1_msg3 {
    margin-top: 1.4rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 2rem;
  }
  .introGroup1_social {
    justify-content: center;
    margin-top: 1rem;
  }
  .introGroup1_social a {
    margin: 24px;
  }
} 