.skillsContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* position: absolute; */
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    background-color: rgb(50, 161, 205);
}
